@using Entities.Concrete
@model List<Category>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card " style="border:none !important;">
        <div class="card-body">
           
            <form class="forms-sample" method="post" asp-action="AddCategory" asp-controller="Category">
                <div class="form-group">
                    <label for="cate">Category Name</label>
                    <input name="CategoryName" type="text" class="form-control" id="cate" placeholder="Name">
                </div>
              
                <button class="btn btn-primary mr-2 ">Submit</button>
              
            </form>
        </div>
    </div>
</div>