@using Entities.Concrete
@model List<Category>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description"> Basic form layout </p>
            <form class="forms-sample" method="post" asp-action="AddCategory" asp-controller="Category">
                <div class="form-group">
                    <label for="cate">Category Name</label>
                    <input name="CategoryName" type="text" class="form-control" id="cate" placeholder="Name">
                </div>
              
                <button class="btn btn-primary mr-2 ">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>