@using Entities.Concrete
@model Category
<div class="col-md-12 grid-margin stretch-card">
    <div class="card " style="border:none !important;">
        <div class="card-body ">
           
            <form class="forms-sample" method="post" asp-action="UpdateCategory" asp-controller="Category">
                <div class="form-group" style="display:none;" >
                    <label for="cat">Category Id</label>
                    <input readonly asp-for="CategoryId" type="text" class="form-control" id="cat" placeholder="Id">
                </div>
                <div class="form-group">
                    <label for="cat">Category Name</label>
                    <input name="CategoryName" type="text" class="form-control" id="cat" placeholder="Name">
                </div>
             
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me
                    </label>
                </div>
                <button class="btn btn-primary mr-2 ">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>